#quickLinks {
  position: fixed;
  bottom: 0;
  right:0;
  z-index: 12;
}
#quickLinks #qlWidget { 
  position: relative;
  padding: 0;
  border-radius: 20px 0 0 20px;
  color: #FFF;
  background: #F90;
  margin: 0 0 20px 0;
  box-shadow: 0 3px 5px #333;
  z-index: 15;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#quickLinks #qlWidget i{
	font-size:20px;
	text-align:center;
	margin: 0;
	padding:20px;
	cursor: pointer;
	display:inline-block;
}
#quickLinks #qlWidget i:hover{
	background:#ffbe5c;
}
#quickLinks #qlWidget i.glyphicon{
	font-size:17px;
	top:0;
}
#quickLinks #qlWidget i:first-child{
	border-right:1px solid #FFFFFF;
	border-radius: 20px 0 0 20px;
}
#qlClose{
	padding:20px 5px 20px 0;
	color:#FFFFFF;
	position:absolute;
	display:block;
	left:-5px;
	z-index:14;
	background:#0B800B;
	border-radius:0 20px 20px 0;
	text-align:center;
	cursor:pointer;
}
#qlClose:hover{
	color:#F90;
}
#qlClose i{
	font-size:20px;
}
#quickLinks #qlContents{
	position:absolute;
	bottom:0;
	right:-410px;
	width:400px;
	padding:10px 15px 10px 20px;
	background:#FFFFFF;
	border:5px solid #0B800B;
	border-right:none;
	border-bottom:none;
	box-shadow: -2px 0 5px #999999;
	z-index:13;
	overflow:auto;
}
#google-chrome {
  background: url(images/googlechrome.png) top left no-repeat;
  background-size: contain;
}
#firefox {
 background: url(images/firefox.png) top left no-repeat;
 background-size: contain;
}
#ie-edge {
  background: url(images/ieedge.png) top left no-repeat;
  background-size: contain;
}

.browser-help-image {
height: 450px;
width: 100%;
vertical-align: middle;
margin: 10px 0 0;
display: block;
}

